body {
    align-items: center;
    text-align: center;
}

.logo {
    width: 300px;
    margin: auto;
    border-radius: 20px;
}

.container {
    background-image: url(/Images/depositphotos_33765721-stock-illustration-carbon-fiber-texture-seamless-vector.jpg);
    display: grid;
    padding: 50px 10px 50px 10px;
    border: 10px solid rgb(105, 105, 105);
    border-radius: 50px;
    box-shadow: 10px 10px 5px black;
    border-style: outset;
    margin: 100px auto auto auto;
    width: 400px;
}

.output {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 50px 16px auto 16px;
    width: 360px;
    text-align: right;
    font-size: 32px;
    background-color: antiquewhite;
}

.numpad {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    row-gap: 1em;
    column-gap: 1em;
    margin: 30px 10px 10px 10px;
}

.solar {
    width: 85px;
    height: 50px;
    object-fit: fill;
    border: 1px solid black;
}

button {
    font-size: 30px;
    color: antiquewhite;
    background-color: rgb(37, 36, 36);
    border-radius: 50px;
}

button:active {
    transform: translateY(3px);
}

.operator {
    color: black;
    background-color: antiquewhite;
}